@import '../../settings/_settings.scss';

.container {
  background-color: $white;

  @include sm-and-up {
    margin: 0;
  }
  @include md-and-up {
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
  }
  @include lg-and-up {
    margin-top: 12em;
    margin-right: 12em;
    margin-bottom: 12em;
    margin-left: 6em;
  }

  .inner-container {
    background-color: $gray;

    @include sm-and-up {
      padding: 1em 0.5em;
    }
    @include md-and-up {
      padding: 4em 2em;
    }
    @include lg-and-up {
      padding: 8em 4em;
    }
  }
}