@import '../../settings/responsive.scss';

.container {
  display: block;
  margin: 0px 2em;

  &.is-fullscreen {
    height: 100vh;
  }
  &.is-spaced {
    margin: 2em 0px;
  }
  &.is-borderless {
    margin: 0;
  }
}
