$white: #fff;
$gray: #F5F5F5;
$black: #2C2C2C;
$orange: #EEC269;
$orange-desat: #E8E3D9;
$orange-sat: rgb(209, 166, 81);

$primary: $orange;
$primary-desat: $orange-desat;
$primary-sat: $orange-sat;

$text: $black;
$text-inv: $white;