$gap: 64px !default;
$tablet: 769px !default;

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

.add-spacing {
  padding-bottom: 32px;
  padding-top: 32px;

  @include mobile {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.is-right-aligned {
  text-align: right;

  @include mobile {
    text-align: left;
  }
}
